html{
    scroll-behavior: smooth !important;

}

*{font-family: "Nunito Sans", sans-serif;

}

body{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
        background-color: rgb(227, 244, 255);

}

.titulos {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2.1vw;
  margin:0;
}

.nunito-sans-texto {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    font-size: 1vw;
}

.secao-inicial {
    display: flex;
    background-image: url(imgs/capa.jpg);
    background-size: 130vw;
    background-position: center;
    height: 30vw;
    flex-direction: column;
    justify-content: space-between ;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    font-size: 2vw;
    margin-bottom: 2vw;

}

.secao-inicial div{
    background:linear-gradient(to bottom, rgba(242, 254, 255, 0), rgb(227, 244, 255));
    
    height:20vw;


}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to right, rgb(242, 254, 255), rgb(170, 221, 255));
    box-shadow: 0vw 0.2vw 4vw rgba(0, 0, 0, 0.129);
    position:relative;
    z-index: 2;
}

.navbar-container a {
    font-weight: 600;
    font-size: 1vw;
    padding: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    text-decoration: none;
    color: rgb(55, 35, 9);
    transition: color 0.5s;
}

.navbar-container a:hover {
    color: rgb(18, 126, 165);
    
}

.conteudo-inicio{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap:3vw;
    margin-bottom:5vw;
    margin-top:5vw;
    padding:1vw 0 1vw 0;
    background-color: rgba(172, 233, 255, 0.384);
    
}

.conteudo {
    width:30vw;
    height:15vw;
    display: flex;
    flex-direction: column;
    margin:0;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.423);
    padding:1vw;
    align-content: center;
    align-items: center;
}

.conteudo ol {
    
    align-self: center;
    padding: 0;
    list-style-type: none;
    counter-reset: meu-contador;
}

.conteudo ol li{
    counter-increment: meu-contador;
    margin-top:1vw;
    align-self: flex-start;
    list-style-position: outside;
    display: flex;
    align-items: center;
    flex-shrink: 2;
    font-size:1vw;

}

.conteudo ol li::before {
    content: counter(meu-contador);
    background: rgb(128, 212, 243);
    width: 2vw;
    height: 2vw;
    border-radius: 1vw;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    line-height: 2vw;
    color: white;
    text-align: center;
    margin-right: 0.5vw;
}

.grid-container{
    margin-top:4vw;
    display:flex;
    flex-wrap: wrap;
    gap:5vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vw;
}

.grid-container:nth-child(1){
    margin-top: 5vw;
}

.grid-container:nth-child(2){
    margin-bottom: 5vw;
}
.subclasse{
    
    display:flex;
    align-items: center;
    justify-content: center;
    

    

}

.subclasse div{
    width:20vw;
    height:4vw;
    color:rgb(90, 184, 218);
    text-align: center; 
    align-items: center;
    display:flex;
    justify-content: center;
    border-radius: 1vw;
    font-size:1.3vw;
    font-weight:400;
    background-color: white;
    box-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.164);

}

.subclasse-separador{
    height:15vh;
    border-right:0.3vw solid rgb(128, 212, 243);
    align-content: center;
    display: flex;

}

.subclasse-itens{
    width:8vw;
    height:5vw;
    display:flex;
    align-items: center;
    justify-content: center;  
}

.subclasse-itens img{
    max-width: 3vw;
    min-width:3vw;

}

.servicos{
    display: flex;
    justify-content: center;
    margin-top: 4vw;
    margin-bottom: 4vw;

}

table{
    background-color: rgb(255, 255, 255);
    width:40vw;
    font-size: 1.2vw;
    color:#5dccff;
    border-radius: 0.8vw;
    box-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.164);
    overflow: hidden;
    border-collapse:collapse;
    margin-bottom: 1vw;

}

th{
    padding:1vw 0 1vw 0;
    background-color: #5dccff;
    color:white;
}

td{
    padding-left:1vw;
}

table tr:last-child td{
    padding-bottom: 1vw;

}
table tr:nth-child(2) td{
    padding-top: 1vw;
 }

.contato{
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom,rgb(227, 244, 255),rgb(170, 221, 255));

}

form{
    margin-top: 3vw;
    background-color: rgb(170, 221, 255);
    width: 50vw;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size:1vw;
    padding-left: 1vw;
    padding-right:1vw;
    border-radius: 1vw;
}

form div{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 1vw;
}

label{
    margin-bottom: 0.5vw;
}

input{
    border:none;
    height: 1.4vw;
    border-radius: 0.2vw;
    font-size: 1vw;
    outline:none;
    box-sizing: border-box;
    padding:0.1vw;
}


input[type="text"]{
    width:15vw;
}

input[type="email"]{
    width:20vw;
}

input[type="tel"]{
    width:10vw;
}

.linha-2-formulario{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    margin-bottom:1vw;
}


@property --cor-radio{
    syntax: '<color>';
   
    initial-value: #5dccff;

}

input[type="radio"]{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1vw;
    height: 1vw;
    background-color:white;
    border-radius: 100%;
    box-sizing: border-box;
    margin:0;
    appearance: none;
    transition: 0.2s var(--cor-radio) ease-in-out ;
    

}

input[type="radio"]::before{
    transform: scale(0);
    content:"";
    width:50%;    
    height:50%;
    border-radius: 1vw;
    --cor-radio: #5dccff;
    box-shadow: inset 0vw 0vw 2vw var(--cor-radio);

}


input[type="radio"]:checked::before{
    transform:scale(1);
}

input[type="radio"]:hover::before{
    transform:scale(1);
    --cor-radio:#5dccff80;
}

input[type="radio"]:checked:hover::before {
    content:"";
    transform:scale(1);
    --cor-radio:#1d8cc0;
}

.radio-container{
    display: flex;
    flex-direction: row;
    align-content: space-between;

}

.opcoes-radio input:last-child{
    margin-top:0.6vw;
    margin-right:0.5vw;
}

.opcoes-radio label{
    margin-top:0;
}


form div label{
    display: flex;
    align-items: center;

    
}

.tipo-servico label:first-of-type{
    margin-top: 1vw;


}

.tipo-servico label:first-of-type{
    display: flex;
    align-self:center;
}

.tipo-servico{
    display: flex;
    align-items: end;
    margin-top:0;


}

.tipo-servico label:first-of-type{
    margin:0;
}

.tipo-servico div{
    height: 1vw;
    width:20vw;
    flex-direction: row;
    align-items: center;
    justify-content:space-between ;
}



input[type="checkbox"]{
    appearance: none;
    width: 1vw;
    height: 1vw;
    padding:0;
    margin:0 0 0 1vw;
    background-color: white;
    border-radius: 0.1vw;
    outline:none;
    display: flex; 
    align-items: center;
    align-self: center;
    justify-content: center;
    
    
}


input[type="checkbox"]::before{
    content:"";
    width: 50%;
    height: 50%;
    background-color: #5dccff;
    border:none;
    outline:none;
    transform: scale(0);
    
}

input[type="checkbox"]:checked::before{
    transform: scale(1);

}

input[type="checkbox"]:hover::before{
    transform: scale(1);
    background-color: #5dccff80;
}

input[type="checkbox"]:checked:hover::before{
    transform: scale(1);
    background-color: #1d8cc0;
}


textarea{
    display: flex;
    justify-content: center;
    width:45vw;
    height:10vw;
    margin-bottom:1vw;
    border:none;
    border-radius: 1vw;
    resize: none;
    padding:0.5vw;
    font-size:0.8vw;
    outline: none;

}
button{
    width:20vw;
    height:3vw;
    margin-bottom: 1vw;
    background-color: #5dccff;
    color:white;
    font-size:1.4vw;
    border:none;
    border-radius: 0.5vw;
    cursor:pointer;
    transition:0.2s ease-in-out background-color;
}

button:hover{
    background-color: #48b4e6;
}

.voltar-inicio{
    margin: 1vw 0 1vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.voltar-inicio a{
    display: flex;
    text-decoration: none;
    font-size: 1.2vw;
    width:14vw;
    height:3vw;
    background-image:linear-gradient(white,white), linear-gradient(to right,rgb(213, 243, 246), rgb(170, 221, 255));
    border:0.2vw solid transparent;
    border-radius: 1vw;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    align-items: center;
    justify-content: space-around;
    color:#5dccff;

}

.voltar-inicio a img{
    margin-top: 0.5vw;
    height:2.5vw;

}

.voltar-inicio a:hover{
    background-image: linear-gradient(to right,rgb(213, 243, 246), rgb(170, 221, 255));
    color:white;

}

.voltar-inicio a:hover img{
    filter:brightness(0) invert(1);

    
}

footer{
    height:10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:rgb(170, 221, 255);
    
}

footer p{
    color:rgb(55, 35, 9);
    font-size: 2vw;
    
}